
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.contact-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.contact-avatar:hover {
  opacity: 0.5;
}

.mr-1 {
  margin-right:1em
}
.level {
  display:flex; align-items:center;
}
.flex {
  flex:1;
}

.fixed-button {
  position: fixed; 
  bottom: 25px;
  right: 5px;
  z-index: 100; 
  box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.2);
  border-radius:50%;
}